* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-primary;
  color: $color-white;
  font-family: $roboto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
