* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-primary;
  color: $color-white;
  font-family: $roboto;
  min-height: 100vh;
  padding: 80px 35px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: $roboto;
}
