.password {
  background: $background-secondary;
  border-bottom: 4px solid $color-pink;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.password_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  label {
    margin-right: 20px;
    font-family: $roboto;
    font-size: 20px;
    color: $color-purple-light-2;
    font-weight: 400;
  }

  h3 {
    font-size: 40px;
    font-family: $roboto-mono;
    font-weight: 500;
    color: $color-white;
  }
}

.password_buttons {
  margin-left: 15px;
}
