.password {
  background: $background-secondary;
  border-bottom: 4px solid $color-pink;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.password_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  label {
    margin-right: 20px;
    font-family: $roboto;
    font-size: 20px;
    color: $color-purple-light-2;
    font-weight: $font-weight-400;
  }

  h3 {
    font-size: 40px;
    font-family: $roboto-mono;
    font-weight: $font-weight-500;
    color: $color-white;
  }
}

.password_buttons {
  margin-left: 15px;

  :hover {
    background: $color-purple;
    border-radius: 10px;
  }
}

@media (max-width: $small) {
  .password_generator {
    font-size: 20px !important;
  }

  .password_actions {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
