// Colors
$background-primary: #0f021b;
$background-secondary: #2c1746;

$color-white: #ffffff;
$color-pink: #fd58ff;
$color-purple-light-1: #d7d5eb;
$color-purple-light-2: #8a87aa;
$color-purple: #694a81;
$color-purple-dark-1: #0f021b;
$color-purple-dark-2: #180828;

$color-weak: #e71b32;
$color-average: #faf408;
$color-strong: #00ff85;

// Fonts
$roboto: "Roboto", sans-serif;
$roboto-mono: "Roboto Mono", monospace;

// Lines Height
$line-height-28: 28.13px;
$line-height-23: 23.44px;

// Fonts Weight
$font-weight-400: 400;
$font-weight-500: 500;

// screen sizes
$small: 500px;
